.Root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Group {
  display: inline-flex;
  padding: 0.125rem;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-lg);
  background-color: color-mix(in oklab, var(--muted) 30%, transparent);
}

.Option {
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius-md);
  font-size: 0.875rem;
  line-height: var(--text-sm--line-height);
  font-weight: 500;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.OptionActive {
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: var(--shadow-sm);
}

.OptionInactive {
  color: var(--muted-foreground);

  @media (hover: hover) {
    &:hover {
      color: var(--foreground);
    }
  }
}
